BOT_TOKEN=your_bot_token_here
ADMINS_LIST=[123456789]
OWNER_ID=123456789
PAYMENT_TOKEN=your_payment_token_here

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/shop_db

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=shop_db
